* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mogra-regular {
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: blueviolet;
}

#imagen {
  width: 250px;
  border: 5px solid red;
}

#logo {
  height: 150px;
  width: 150px;
}

.imagen_1 {
  border: 5px solid yellow;
  width: 400px;
}

.imagen_centrar {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}

.menu > a {
  color: red;
}

#fondo-cabeza {
  width: 100%;
  height: 400px;
  background-color: lightsteelblue;
}

#caja-logo {
  padding-top: 100px;
}

#texto-logo {
  font-size: 30px;
}
