*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 {
    color: blueviolet;
}

#imagen{
    width: 250px;
    border: 5px solid red;

}

#logo{
    height: 150px;
    width: 150px
}

.imagen_1 {
border: 5px solid yellow;
width: 500px;
}



.menu>a{
    color: red;
}


#fondo-cabeza{

    width: 100%;
    height: 400px;
    background-color: aqua;
}

#caja-logo{
    padding-top: 100px;

}

#texto-logo{


}